body {
  margin: 60px auto;
  width: 70%;
}

nav ul, footer ul {
  font-family: 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

ul.posts {
  margin: 40px 0 20px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}
