---
layout: default
title: Case studies - Christopher Cameron
---
<div class="app-grid-row">
	<div class="app-grid-column-three-quarters">
    <a class="app-back-link" href="/">Back to home page</a>
		<h1 class="app-heading--l">Case studies</h1>
		<ul class="app-list app-list__posts">
			{% for post in site.posts %}
			<li>
				<a class="app-post__link" href="{{ post.url }}" title="{{ post.title }}">
					<span class="app-list__post-title">{{ post.title }}</span>
					<span class="app-list__post-desc">{{ post.description }}</span>
          {% if post.image %}
          <div class="app-list__post-image">
          <img width="100%" src="{{ post.image }}" alt="" role="presentation"/>
          </div>
          {% endif %}
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
