<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
		<link rel="manifest" href="/img/site.webmanifest">
	</head>

	<body>
		<header class="app-header">
			<div class="app-header__container app-width-container">
				<a class="app-header__link app-header__link--homepage" href="/">Christopher Cameron</a>
				<nav class="app-print--hide">
					<ul id="navigation" class="app-header__navigation" aria-label="Top Level Navigation">
						<li class="app-header__navigation-item"><a class="app-link" href="/case-studies">Case studies</a></li>
						<li class="app-header__navigation-item"><a class="app-link" href="/cv">My CV</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="app-width-container">
			<main class="app-main-wrapper app-main-wrapper" id="main-content" role="main">
				{{ content }}
		  </main>
		</div><!-- /.container -->
		<footer class="app-footer app-print--hide" role="contactinfo">
			<div class="app-width-container">
				<ul class="app-list app-list__inline">
					<li><a class="app-link app-link--footer" href="mailto:hello@christophercameron.co.uk">Email me</a></li>
					<li><a class="app-link app-link--footer" href="https://github.com/christophercameron-ixd">GitHub</a></li>
					<li><a class="app-link app-link--footer" href="https://www.linkedin.com/in/chrisrcameron">LinkedIn</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>
