{% set
  "navItems" = [
    {
      "menu_item" : "Home"
    },
    {
      "menu_item" : "Blog"
    },
    {
      "menu_item" : "Projects"
    }
  ]
%}

<ul class="navbar-nav mr-auto">
  {% for item in navItems %}
  <li class="nav-item {% if page_id == item.menu_item %}active{% endif %}">
    <a class="nav-item nav-link" href="{{ item.menu_item | lower | replace(" ", "") }}">{{ item.menu_item }}</a>
  </li>
  {% endfor %}
</ul>
